# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Tag and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    # necessary for tagging.
    permissions: write-all

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Get Next Version
      id: semver
      uses: ietf-tools/semver-action@v1
      with:
          token: ${{ github.token }}
          branch: main

    - name: Create Release
      uses: ncipollo/release-action@v1.20.0
      with:
       allowUpdates: true
       draft: false
       makeLatest: true
       name: ${{ steps.semver.outputs.next }}
       body: Changelog Contents
       token: ${{ github.token }}
       